@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
	themes: synthwave --default;
	base: true;
}

@import "./_keyframe-animations.scss";
@import "./_variables.scss";

@theme {
	--font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
	main {
		@apply container mx-auto px-4 prose prose-sm xl:prose-lg prose-invert overflow-y-auto h-[92vh];
	}
}