@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
	themes: synthwave --default;
	base: true;
}

@import "./_keyframe-animations.scss";
@import "./_variables.scss";

@theme {
	--font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
	body {
		@apply bg-base-100 text-base-content w-screen h-dvh overflow-hidden;
	}

	main {
		@apply container mx-auto px-4 prose md:prose-lg lg:prose-xl prose-invert overflow-y-auto h-[92vh];
	}
}